.link {
	font-family: var(--font-family), sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}

.link--type--button {
	border-radius: 1.1rem;
	box-shadow: 0 2rem 2rem 0 rgba(56, 42, 225, 0.19);
	background: var(--violet-glow);
	color: var(--white);
	width: 100%;
	padding: 1.5rem 0;
	transition: background-color 0.25s cubic-bezier(0.42, 0, 0.58, 1), transform 0.25s cubic-bezier(0.42, 0, 0.58, 1);
	transform: scale(1);
	will-change: background-color, transform;

	&:hover {
		background: var(--medium-slate-blue);
		transform: scale(1.025);
	}

	&:focus {
		background: var(--medium-slate-blue);
		transform: scale(1.025);
	}

	&:active {
		transform: scale(0.975);
	}
}

.link--type--ghost {
	margin: 1.4rem auto 0 auto;
	width: 100%;

	> a {
		text-decoration: none;
		color: var(--english-manor);
		padding: 1rem 2rem;
		transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1), transform 0.25s cubic-bezier(0.42, 0, 0.58, 1);
		transform: scale(1);
		display: inline-block;
		will-change: color, transform;

		&:hover {
			color: var(--pico-void);
			transform: scale(1.025);
		}

		&:focus {
			color: var(--pico-void);
			transform: scale(1.025);
		}

		&:active {
			transform: scale(0.975);
		}
	}

	@media (width >= 768px) {
		margin: 2.2rem auto 0 auto;
	}
}